@media screen and (max-width: 768px) {
  .responsive-datagrid.control-container {
        padding-right: 0;
  }
  .responsive-datagrid {
    max-height: var(--max-height);
    overflow-y: scroll;
    padding: 0;
    
    & tfoot {
      position: sticky;
      bottom: 0;
      z-index: 2;
      background-color: var(--footer-pagination-background-color);
    }
    & .table {
        width: 100%;
    }
    & thead {
      display: none;
    }
    & tbody tr {
      display: block;
      margin-bottom: var(--row-bottom-gap);
      border: 1px solid var(--row-bottom-border-color);
    }
    & tbody tr td {
      display: block;
      width: 100%;
      position: relative;
      white-space: pre-wrap;
      border: none;
    }
    & tbody tr td:nth-child(1) {
      background-color: var(--first-cell-background-color);
      color: var(--first-cell-font-color);
    }
    & tbody tr td:not(td:first-child):before {
      content: attr(name);
      display: block;
      font-size: var(--cell-heading-font-size);
      font-weight: var(--cell-heading-font-weight);
      text-align: left;
      width: 100%;
      padding-top: var(--cell-heading-top-padding);
      padding-right: var(--cell-heading-right-padding);
      padding-bottom: var(--cell-heading-bottom-padding);
      padding-left: var(--cell-heading-left-padding);
      user-select: none;
    }
    & tfoot .pagination > li > a {
      padding-top: var(--footer-pagination-top-padding);
      padding-right: var(--footer-pagination-right-padding);
      padding-bottom: var(--footer-pagination-bottom-padding);
      padding-left: var(--footer-pagination-left-padding);
    }
  }
}