/* CSS Version 1.1 https://github.com/stadium-software/responsive-datagrid */
@media screen and (max-width: 768px) {
  .stadium-responsive-datagrid.control-container {
        padding-right: 0;
  }
  .stadium-responsive-datagrid {
    max-height: var(--max-height, 40rem);
    overflow-y: scroll;
    padding: 0;
    
    tfoot {
      position: sticky;
      bottom: 0;
      z-index: 2;
      background-color: var(--footer-pagination-background-color, var(--DATA-GRID-PAGINATION-BACKGROUND-COLOR));
    }
    .table {
        width: 100%;
    }
    thead {
      display: none;
    }
    tbody tr {
      display: block;
      margin-bottom: var(--row-bottom-gap, 1.2rem);
      border: 0.1rem solid var(--row-bottom-border-color, var(--DATA-GRID-CELL-BORDER-COLOR));
    }
    tbody tr td {
      display: block;
      width: 100%;
      position: relative;
      white-space: pre-wrap;
      border: none;
    }
    tbody td {
      padding: var(--cell-heading-top-padding, calc(var(--DATA-GRID-CELL-TOPBOTTOM-PADDING)/2)) var(--cell-heading-right-padding, var(--DATA-GRID-CELL-RIGHTLEFT-PADDING)) var(--cell-heading-bottom-padding, calc(var(--DATA-GRID-CELL-TOPBOTTOM-PADDING)/2)) var(--cell-heading-left-padding, var(--DATA-GRID-CELL-RIGHTLEFT-PADDING));
    }
    tbody tr td:before {
      content: attr(name);
      display: block;
      font-size: var(--cell-heading-font-size, 0.9rem);
      font-weight: var(--cell-heading-font-weight, normal);
      text-align: left;
      width: 100%;
      user-select: none;
    }
    tfoot .pagination > li > a {
      padding: var(--footer-pagination-top-padding, 0.4rem) var(--footer-pagination-right-padding, 0.2rem) var(--footer-pagination-bottom-padding, 0.4rem) var(--footer-pagination-left-padding, 0.2rem);
    }
  }
}
html {
  min-height: 100%;
  font-size: 62.5%;
}